.card {
  overflow: hidden;
  position: relative;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  padding: 25px;
  background-color: #f0f0f0;

  font-family: "Lexend Deca", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  border-radius: 20px;

  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.8);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  * {
    background-color: #f0f0f0;
    font-family: "Lexend Deca", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  // .card-2
  &-2 {
    width: 320px;
    height: 700px;
    justify-content: space-between;
    // .card-2__top-wrapper

    &__top-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 30px;
    }
  }
  // .card__name
  &__name {
    font-size: 26px;
    color: #bbbbbb;
    font-weight: 600;
  }
  // .card__name-2
  &__name-2 {
    width: 100%;
    text-align: left;
  }
  // .card__graph
  &__graph {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 40px 40px 35px;
  }
  // .card__graph-line
  &__graph-line {
    display: inline-block;
    width: 6px;
    border-radius: 100px;
    &:nth-child(1) {
      height: 16%;
      background-color: rgba(86, 165, 202, 0.8);
    }
    &:nth-child(2) {
      height: 33%;
      background-color: rgba(86, 165, 202, 0.8);
    }
    &:nth-child(3) {
      height: 55%;
      background-color: rgba(86, 165, 202, 0.8);
    }
    &:nth-child(4) {
      height: 76%;
    }
    &:nth-child(5) {
      height: 100%;
    }
  }
  // .card__buttons-wrapper
  &__buttons-wrapper {
    display: flex;
    column-gap: 10px;
  }
  // .card__buttons-wrapper-2
  &__buttons-wrapper-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  // .card__button
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.3s all ease;
    &:hover {
      font-size: 20px;
    }
    // .card__button--big
    &--big {
      width: 100%;
      border-radius: 100px;
      color: #bbbbbb;
      font-weight: 500;
      &:hover {
        font-size: 18px;
        color: #6a6a6e;
      }
    }
    // .card__button--secondary
    &--secondary {
      box-shadow: none !important;
      outline: none !important;
      border: none !important;
      font-size: 14px;
      background-color: transparent;
      &:hover {
        font-size: 16px;
      }
    }
    // .card__button--danger
    &--danger {
      color: #d3b4b4;
      &:hover {
        color: #c03737;
      }
    }
  }
  // .card__label {
  &__label {
    max-width: 100%;
    width: 100%;
    text-align: left;
    color: #bbbbbb;
    span {
      padding-left: 5px;
      font-size: 12px;
    }
  }
  // .card__input
  &__input {
    margin-top: 5px;
    max-width: 100%;
    padding: 15px 18px;

    font-size: 18px;
    color: #6a6a6e;
    text-align: center;

    &--round {
      border-radius: 100px;
    }
    &--square {
      border-radius: 20px;
    }

    &::placeholder {
      color: #bbbbbba9;
    }
  }
}

.shadow {
  box-shadow: 8px 8px 10px -3px rgba(119, 119, 134, 0.32),
    -8px -8px 10px -3px rgba(255, 255, 255, 0.72),
    8px 8px 8px -9px rgba(255, 255, 255, 0.2);
  outline: 2px solid rgba(119, 119, 134, 0.05);
  border-right: 2px solid rgba(119, 119, 134, 0.03);
  border-bottom: 2px solid rgba(119, 119, 134, 0.03);
  border-left: 2px solid rgba(255, 255, 255, 0.05);
  border-top: 2px solid rgba(255, 255, 255, 0.05);
}

.shadow-small {
  box-shadow: 4px 4px 5px -2px rgba(119, 119, 134, 0.32),
    -4px -4px 5px -2px rgba(255, 255, 255, 0.72),
    4px 4px 4px -5px rgba(255, 255, 255, 0.2);
  outline: 1px solid rgba(119, 119, 134, 0.05);
  border-right: 1px solid rgba(119, 119, 134, 0.03);
  border-bottom: 1px solid rgba(119, 119, 134, 0.03);
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.inner-shadow {
  box-shadow: inset 5px 5px 10px -3px rgba(119, 119, 134, 0.32),
    inset -5px -5px 10px -3px rgba(255, 255, 255, 0.72),
    inset 5px 5px 5px -9px rgba(255, 255, 255, 0.2),
    inset -5px -10px 10px -2px rgba(255, 255, 255, 0.32);
  &--small {
    box-shadow: inset -4px 0px 4px -2px rgba(255, 255, 255, 0.72),
      inset 4px 0px 4px -2px rgba(119, 119, 134, 0.22);
  }
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;

  font-family: "Lexend Deca", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background-color: #f0f0f0;
}

body {
  ::selection {
    color: white;
    background: rgba(119, 119, 134, 0.32);
  }
}

.time {
  width: 110%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
  // .time__row
  &__row {
    display: grid;
    grid-template-columns: 25px 1fr 55px 25px;
    border-radius: 10px;
  }
  // .time__delete
  &__delete {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    grid-row: 1 / 3;
    border-right: 2px solid rgba(119, 119, 134, 0.05);
    color: #6a6a6e;
    &:hover {
      color: #c03737;
    }
  }
  // .time__days
  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 5px;
    font-size: 12px;
    padding: 10px 5px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    span {
      align-self: center;
      display: inline-flex;
      width: 20px;
      height: auto;
      aspect-ratio: 1 / 1;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      color: #bbbbbb;
      font-size: 8px;

      &.active {
        text-shadow: none;
        color: #6a6a6e;
        border: none !important;
        background: radial-gradient(
          circle at 30% 30%,
          rgb(239, 250, 255),
          rgba(35, 114, 145, 0.6)
        );
      }
    }

    &-2 {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      column-gap: 5px;
      font-size: 12px;
      padding: 10px 5px;
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      span {
        align-self: center;
        display: inline-flex;
        width: 20px;
        height: auto;
        aspect-ratio: 1 / 1;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        color: #bbbbbb;
        font-size: 8px;
        outline: 2px solid rgba(119, 119, 134, 0.05);

        &.active {
          background-color: rgb(112, 203, 240);
          text-shadow: none;
          color: #6a6a6e;
          outline: none;
        }
      }
    }
  }
  // .time__hours
  &__hours {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center;
    min-height: 40px;
    padding: 10px 5px;
    border-bottom: 2px solid rgba(119, 119, 134, 0.05);
  }
  // .time__hours-delete
  &__hours-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    border-bottom: 2px solid rgba(119, 119, 134, 0.05);
    color: #6a6a6e;
    &:hover {
      color: #c03737;
    }
  }
  // .time__add
  &__add {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3 / 4;
    border-radius: 10px;
    color: #6a6a6e;
  }
}

button.shadow {
  &:active {
    box-shadow: none;
  }
}

.add-button {
  position: absolute;
  bottom: 30px;
  left: 30px;
  filter: grayscale(60%);
}

.more-button {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 0 0 0 20px;
  width: 70px;
  height: 70px;
  justify-content: flex-start;
  align-items: flex-end;
  filter: grayscale(100%);
  &:hover {
    font-size: 18px;
  }
}

.item {
  width: 100%;
  min-height: 50px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  // .item__name
  &__name {
    font-size: 16px;
    padding: 15px 5px 15px 15px;
    color: #6a6a6e;
  }
  // .item__edit
  &__edit {
    min-width: 35px;
    height: 35px;
    filter: grayscale(80%);
  }
  // .item__delete
  &__delete {
    min-width: 35px;
    height: 35px;
    filter: grayscale(80%);
  }
  // .item__buttons-wrapper
  &__buttons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 10px;
    min-width: 35px;
    height: 70px;
    border-left: 2px solid rgba(119, 119, 134, 0.03);
  }
}

.items-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.more-list {
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  z-index: 2;
  // .more-list__item
  &__item {
    font-size: 16px;
    text-align: left;
    height: 60px;
    padding: 20px 30px;
    + .more-list__item {
      border-top: 2px solid rgba(119, 119, 134, 0.03);
    }
  }
}
